__pycache__/
*.pyc
venv/
.env
.DS_Store
.vscode
annotations/
data/
draw_plate_data/
draw_plate_data_prepared_european/
draw_plate_data_prepared_rectangle/
european_license_plates_dataset/
img/
license_plates/
license_plates_cropped/
license_plates_cropped_whole/
mnist/
UC3M-LP/
*.pt
*.log
*.png
*.zip
cuda-keyring_1.1-1_all.deb
*.deb
draw_plate_data_prepared_combined/chinese_plates/license_plates_combined_96x32.npy
draw_plate_data_prepared_combined/chinese_plates/val_96x32.npy
